################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopingCart/BusinessLogic/bin/Debug
/ShopingCart/.vs/ShopingCart/v15/.suo
/ShopingCart/BusinessLogic/obj/Debug
/ShopingCart/Client/bin/Debug
/ShopingCart/Client/bin/Debug
/ShopingCart/Client/obj/Debug
/ShopingCart/DataAccess/bin/Debug
/ShopingCart/DataAccess/obj/Debug
/ShopingCart/Library/bin/Debug
/ShopingCart/Library/obj/Debug
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/ShopingCart/packages
